mixin sidebar-headings(headings, depth)
  for heading in headings.filter(h => (h.lvl === 2) || (h.lvl === 3))
    li
      a(class=`depth-${depth + 1} h${heading.lvl}` href=`#${heading.slug}`)
        if (heading.type)
          +icon(heading.type)
        != heading.content
      if (heading.children)
        +sidebar-headings(heading.children, depth + 1)


mixin sidebar-item(item, depth=0)
  - const open = data.url.startsWith(item.path)
  - const active = data.url === item.path
  - const topLink = data.headings ? data.headings[0].slug : '';

  li
    if (active)
      a.active(class=`depth-${depth}` href=`#${topLink}`)= item.title
    else
      a(href=item.path class=`depth-${depth} color-grey-300`)= item.title

    if (item.children && open)
      ul
        for child in item.children
          +sidebar-item(child, depth + 1)

    if (active && data.headings)
      ul.toc
        +sidebar-headings(data.headings, depth)


aside.card
  if (data.logo || data.siteTitle)
    a(href=(data.docsRoot || '/'))
      if (data.logo)
        img.logo.align-middle(src=data.logo alt="Logo")
      if (data.siteTitle)
        span.title.align-middle= data.siteTitle

  button.hollow.float-right.margin-small
    zen-icon(color="grey-300" type="cross" onclick="document.querySelector('aside').classList.toggle('active')")

  ul
    for Doc, value in data.tree
      +sidebar-item(Doc)
